<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <style>
        #cover{
            background-image: url("https://static.1000.menu/img/content-v2/e1/6e/13456/picca-na-tonkom-teste-bez-drojjei_1592121905_25_min.jpg");
            background-size: cover;
            width: 100vw;
            height:100vh;
        }
    </style>
</head>
<header style="background-color:orange; width: 100vw">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="container"><h1 style="color:darkred">Контакты</h1></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
           <table style="width: 100vw">
                <tr>
                    <td style="padding-left: 20vw">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><h2>Главная</h2></a>
        </li>
 </td>
<td style="padding-left:35vw">
        <li class="nav-item">
            <a class="nav-link" href="/new"><h2>Новинки</h2></a>
        </li>
                         </td>
      </ul>
    </div>
    </tr>
 </table>
</nav>
</header>
<body>
<div id="cover" class="container-fluid">
<main style="padding-left: 30vw">
<p><h2 style="font-size:300%; position: center; color:orange">Полный список наших контактов:</h2></p>
<ul>
        <li><a href="mailto:pet_zed@rambler.ru" target="_blank"> <h3 style="font-size:280%">Наша официальная почта</h3></a></li>
        <li><a href="tel:89270004257" target="_blank"> <h3 style="font-size:280%">Наш официальный телефон</h3></a></li>
    <li><a href=" https://t.me/bot_for_food_bot?start=666" target="_blank" ><h3 style="font-size:280%">Наш официальный телеграмм бот</h3></a></li>
    </ul>
</main>
    </div>

<footer style="padding-top:2% ">
<table style="background-color:orange; width: 100vw">
    <tr>
        <td>
            <p><h3 style="color:brown">Наша выручка в этом месяце:</h3></p>
            <p><h4>1345925 руб</h4></p>
        </td>
        <td>
            <p><h3 style="color:brown">Наш самый прибыльный товар:</h3></p>
            <p><h4>Пепперони</h4></p>
        </td>
        <td>
            <p><h3 style="color:brown">Наша самая прибыльная пиццерия:</h3></p>
            <p><h4>г.Самара ул.Черемшанская 71</h4></p>
        </td>
    </tr>
</table>
</footer>
</body>
</html>