<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza</title>
    <style>
        #cover{
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d1/Pepperoni_pizza.jpg');
            background-position: top;
            backdrop-filter: blur(5px);
            -webkit-filter: blur(5px);
            width: 5000vw;
            height:20vh;
        }
    </style>
</head>
<body>
<header style=background-color:orange;color:darkred>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="container"><h1 style="padding-left: 46vw">Pizza Family</h1></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
           <table style="padding-left: 17vw; width: 100vw">
                <tr>
<td>
        <li class="nav-item">
            <a class="nav-link" href="/new"><h2>Новинки</h2></a>
        </li>
                         </td>
                    <td>
        <li class="nav-item">
            <a class="nav-link disabled" href="/contacts" tabindex="-1" aria-disabled="true"><h2>Контакты</h2></a>
        </li>
                </td>
      </ul>
    </div>
  </div>
    </tr>
 </table>
</nav>
</header>
<div id="cover" class="container-fluid"></div>
<main style="background-color:orange">
    <p>
        <h2 style="padding-left:10vw;color: brown">
    О нас:
</h2>
    </p>
    <p>
        <h3 style="color:brown;padding-left: 5vw; width: 90vw;">
    Мы-новая пиццерия которая стремительно врывается на рынок, где соперничает с огромным количеством компаний. Именно поэтому нам так важна Ваша поддержка. Ваши заказы мотивируют наш персонал работать с еще большей самоотдачей. Мы надеемся что вам понравится наша продукция и вы придете за добавкой))
</h3>
    </p>
</main>
<table style="width: 100vw">
<tr>
    <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/Pizza/ru-RU/4e630ad6-e12e-4d52-ac4c-a7edb799c0fa.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Пепперони</h2>
                    <p class="card-text">Пикантная пепперони, увеличенная порция моцареллы, томатный соус</p>
                    <p class="card-text"> <h3>370 руб</h3> </p>
            </div>
        </div>
    </td>
    <td>
         <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="http://www.2191727.ru/images/page18007.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Пицца с морепродуктами</h2><h2 style="color: red">Новинка!</h2>
                    <p class="card-text">Вкуснейшая пицца со сливочным соусом, оливками, креветками и зеленью </p>
                    <p class="card-text"><h3>380 руб</h3> </p>
            </div>
        </div>
    </td>
    <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://static.chibbis.ru/Images/Restaurants/%D0%A2%D0%BE%D0%BB%D1%8C%D1%8F%D1%82%D1%82%D0%B8/%D0%9F%D0%B0%D0%BF%D0%B0%20%D0%94%D0%B6%D0%BE%D0%BD%D1%81/Products/desktop/19.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Сырная пицца</h2>
                    <p class="card-text">Увеличенная порция моцареллы, сыры чеддер и пармезан, соус альфредо </p>
                    <p class="card-text"><h3>320 руб</h3> </p>
            </div>
        </div>
   </div>
    </td>
        </tr>
        <tr>
            <td>
        <div class="col">
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/26fa2948b6c74113afb9d09a3262fc26_584x584.jpeg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Пицца ветчина и грибы</h2>
                    <p class="card-text">Ветчина, шампиньоны, увеличенная порция моцареллы, томатный соус </p>
                    <p class="card-text"><h3>330 руб</h3> </p>
            </div>
        </div>
   </div>
            </td>
            <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/Pizza/ru-RU/310e43cf-7f17-4975-9a9b-2f80f1ed3926.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Гавайская пицца</h2>
                    <p class="card-text">Цыпленок, ананасы, моцарелла, томатный соус</p>
                    <p class="card-text"><h3>380 руб</h3> </p>
            </div>
        </div>
   </div>
            </td>
            <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/Drinks/ru-RU/dd8a476b-8a23-48cc-a605-fc9978bdfebe.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Клюквенный морс</h2><h2 style="color: red">Новинка!</h2>
                    <p class="card-text">Негазированный напиток из свежей клюквы</p>
                    <p class="card-text"><h3>370 руб</h3> </p>
            </div>
        </div>
   </div>
            </td>
        </tr>
        <tr>
            <td>
        <div class="col">
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/Drinks/ru-RU/7a5e0b7c-f2c7-4020-8d2e-ec19c878a2f0.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Fanta</h2>
                    <p class="card-text">Безалкогольный сильногазированный напиток</p>
                    <p class="card-text"><h3>80 руб</h3> </p>
            </div>
        </div>
   </div>
            </td>
            <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/Drinks/ru-RU/3e245152-1a34-441e-8eeb-0cde9c099777.jpg" class="card-img-top" alt="Пепперони" width=180>
            <div class="card-body">
                <h2 class="card-title">Coca-cola</h2>
                    <p class="card-text">Безалкогольный сильногазированный напиток</p>
                    <p class="card-text"><h3>80 руб</h3> </p>
            </div>
        </div>
   </div>
            </td>
            <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/Drinks/ru-RU/f6579d82-765f-4be5-a476-c2bab3fdf361.jpg" class="card-img-top" alt="Пепперони" width=150>
            <div class="card-body">
                <h2 class="card-title">Sprite</h2>
                    <p class="card-text">Безалкогольный сильногазированный напиток</p>
                    <p class="card-text"><h3>80 руб</h3> </p>
            </div>
        </div>
   </div>
            </td>
        </tr>
        <tr>
        <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/Drinks/ru-RU/8dc533bd-11f2-4177-929e-aee70b39d051.jpg" class="card-img-top" alt="Пепперони" width=180>
            <div class="card-body">
                <h2 class="card-title">Bon Aqua без газа</h2>
                    <p class="card-text"><h3>50 руб</h3> </p>
            </div>
        </div>
   </div>
        </td>
        <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://lenta.gcdn.co/globalassets/1/-/01/89/07/228493.png?preset=thumbnail" class="card-img-top" alt="Пепперони" width=55>
            <div class="card-body">
                <h2 class="card-title">Bon Aqua гозированная</h2>
                    <p class="card-text"><h3>75 руб</h3> </p>
            </div>
        </div>
   </div>
        </td>
        </tr>
    </table>
<main>
    <h2>Составление заказа</h2>
    <form method="post" action="/">
        <ul>
            <li><label>ФИО<input type="text" name="name"></label></li>
            <li><label> Ваш телефон для уточнения заказа<input type="text" name="tel"></label></li>
            <li><label>Ваш заказ<input type="text" name="food"></label></li>
            <li><label>Ваш адрес<input type="text" name="adress"></label></li>
            <li><button type="submit">Отправить заказ</button></li>
        </ul>
    </form>
</main>
<footer style="background-color:orange;color:darkred">
<table style="background-color:orange; width: 100vw">
    <tr>
        <td>
            <p><h3 style="color:brown">Наша выручка в этом месяце:</h3></p>
            <p><h4>1345925 руб</h4></p>
        </td>
        <td>
            <p><h3 style="color:brown">Наш самый прибыльный товар:</h3></p>
            <p><h4>Пепперони</h4></p>
        </td>
        <td>
            <p><h3 style="color:brown">Наша самая прибыльная пиццерия:</h3></p>
            <p><h4>г.Самара ул.Черемшанская 71</h4></p>
        </td>
    </tr>
</table>
</footer>
</body>
</html>
