<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новинки</title>
</head>
<body>
<header style="background-color:orange; width: 100vw">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="container"><h1 style="color:darkred">Новинки</h1></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
           <table style="width: 100vw">
                <tr>
<td>
        <li class="nav-item">
            <a class="nav-link" href="/"><h2>Главная</h2></a>
        </li>
                         </td>
                    <td>
        <li class="nav-item">
            <a class="nav-link" href="/contacts"><h2>Контакты</h2></a>
        </li>
                         </td>
      </ul>
    </div>

    </tr>
 </table>
</nav>
</header>
<main>
    <table style="width: 100vw">
<tr>

    <td>
         <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="http://www.2191727.ru/images/page18007.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Пицца с морепродуктами</h2><h2 style="color: red">Новинка!</h2>
                    <p class="card-text">Вкуснейшая пицца со сливочным соусом, оливками, креветками и зеленью </p>
                <a class="btn btn-primary " href="/new1" role="button"><h3 style="padding-left: 5vw; padding-right:1vw;background-color: orange; border: orange">Подробнее</h3></a>
            </div>
        </div>
    </td>
    <td>
        <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/Drinks/ru-RU/dd8a476b-8a23-48cc-a605-fc9978bdfebe.jpg" class="card-img-top" alt="Пепперони" width=160>
            <div class="card-body">
                <h2 class="card-title">Клюквенный морс</h2><h2 style="color: red">Новинка!</h2>
                    <p class="card-text">Негазированный напиток из свежей клюквы</p>
                <a class="btn btn-primary " href="/new2" role="button"><h3 style="padding-left: 5vw; padding-right:1vw;background-color: orange; border: orange">Подробнее</h3></a>
            </div>
        </div>
    </td>
</tr>
    </table>
</main>
<footer style="padding-top:16% ">
<table style="background-color:orange; width: 100vw">
    <tr>
        <td>
            <p><h3 style="color:brown">Наша выручка в этом месяце:</h3></p>
            <p><h4>1345925 руб</h4></p>
        </td>
        <td>
            <p><h3 style="color:brown">Наш самый прибыльный товар:</h3></p>
            <p><h4>Пепперони</h4></p>
        </td>
        <td>
            <p><h3 style="color:brown">Наша самая прибыльная пиццерия:</h3></p>
            <p><h4>г.Самара ул.Черемшанская 71</h4></p>
        </td>
    </tr>
</table>
</footer>
</body>
</html>
