<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новое2</title>
</head>
<body>
<header style=background-color:orange;color:darkred>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="container"><h1 style="padding-left: 46vw">Наша новинка!!</h1></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
           <table style="padding-left: 17vw; width: 100vw">
                <tr>
<td>
        <li class="nav-item">
            <a class="nav-link" href="#"><h2>Главная</h2></a>
        </li>
                         </td>
                    <td>
        <li class="nav-item">
            <a class="nav-link" href="#"><h2>Новинки</h2></a>
        </li>
                         </td>
                    <td>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><h2>Контакты</h2></a>
        </li>
                </td>
      </ul>
    </div>
  </div>
    </tr>
 </table>
</nav>
</header>
<main>
    <table>
        <tr style="width: 100vw">
            <td>
    <div class="card mb-3" style="color:darkblue;width: 18rem;">
            <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/Drinks/ru-RU/dd8a476b-8a23-48cc-a605-fc9978bdfebe.jpg" class="card-img-top" alt="Пепперони" width=330>
            <div class="card-body">
                <h2 class="card-title">Клюквенный морс</h2><h2 style="color: red">Новинка!</h2>
                    <p class="card-text">Негазированный напиток из свежей клюквы</p>
                <a class="nav-link" href="/" ><button style="padding-left:5vw;padding-right:5vw;background-color: orange; border: orange"><h2>Перейти и заказать</h2></button></a>
            </div>
        </div>
            </td>
            <td style="padding-left:30vw; padding-bottom: 17vw; padding-right: 10vw ">
                <p>
                    <h1>
                Отзыв экперта:
            </h1>
                </p>
                <p>
                    <h3>
                Клюквенный морс очень вкусный, так как сочетание клюквы, корицы и мяты, используемое в напитке, придает ему терпкий вкус. Мне показалась эта идея удачной, всвязи с чем я могу с уверенностью порекомендовать этот напиток поситителям.
            </h3>
                <h3>
                    Выражаю свою благодарность данной пиццерии за возможность попробывать этот напиток.
                </h3>
                </p>

            </td>
        </tr>
        </table>
</main>
<footer style="padding-top:5% ">
<table style="background-color:orange; width: 100vw">
    <tr>
        <td>
            <p><h3 style="color:brown">Наша выручка в этом месяце:</h3></p>
            <p><h4>1345925 руб</h4></p>
        </td>
        <td>
            <p><h3 style="color:brown">Наш самый прибыльный товар:</h3></p>
            <p><h4>Пепперони</h4></p>
        </td>
        <td>
            <p><h3 style="color:brown">Наша самая прибыльная пиццерия:</h3></p>
            <p><h4>г.Самара ул.Черемшанская 71</h4></p>
        </td>
    </tr>
</table>
</footer>
</body>
</html>
